*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
}

.container{
    display:flex;
    /* padding-right: 20px; */
}

main{
    width: 100%;
    /* padding: 20px; */
}

.sidebar{
    background: var(--global-color-nuetral-color-white);
    color: var(--global-color-nuetral-nuetral-500);
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    display: block;
    margin-right: 20px;
}

.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}

.logo{
    width: 70px;
}

.bars{
    display: flex;
    font-size: 24px;
    margin-left: 50px;
}

.link{
    display: flex;
    color: var(--global-color-nuetral-nuetral-500);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover{
    background: var(--global-color-nuetral-nuetral-200);
    color: var(--global-color-primary-primary-800);
    transition: all 0.5s;
}

.active{
    background: var(--color-uibg-03);
    color: var(--global-color-primary-primary-800);
}

.link_text{
    font-size: 16px;
    font-weight: 400;
}

.icon{
    font-size: 24px;
}