.card-dashboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card-dashboard__link {
  display: flex;
  width: 24%;
  gap: 10px;
  padding: 16px 24px;
  border-radius: 5px;
  background: var(--global-color-nuetral-color-white);
}

.card-dashboard__icon {
  color: var(--global-color-nuetral-color-white);
  margin: auto 0;
  margin-right: 24px;
  padding: auto 0;
}

.card-dashboard__item h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--global-color-primary-primary-500);
  width: 160px;
}

.card-dashboard__item p {
  color: var(--text-color-medium);
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  background-color: transparent;
}
